params {

    projectDir = "/home/frosig/nextflow/geo_std/"
    runDir = '/home/frosig/scratch/chip-seq-ihec-test/SRR-samples/samples/GEo-ChIP-Atlas-289/'
    gseList =  "${runDir}gse_list.txt"
    metaData = '/home/frosig/scratch/chip-seq-ihec-test/SRR-samples/'
    chipSeqJsonSrc = "${metaData}chipseq_json_generator"
    jsonSplitterSrc = "${projectDir}bin/srr_data_struct.py"
    singularityWrapper = "${projectDir}/bin/"
    slurm_out = "${runDir}slurm_out/"

}


process {
    executor = 'slurm'
    memory = 1.GB
    cpus = 1
    time = '10h'
    clusterOptions = '--account=def-jacquesp --mail-user=frog2901@usherbrooke.ca --mail-type=FAIL --output=' + params.slurm_out + '%j_%x.slurm'

    withLabel: IhecPipe {
        cpus = 1
        memory = 5.GB
        time = '72h'
    }
}
